@font-face { font-family: Lato-Thin; 
    src: url('../fonts/Lato-Thin.ttf'); } 

@font-face { font-family: Lato-Regular; 
    src: url('../fonts/Lato-Regular.ttf'); }    

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    flex-direction: column;
    background-image: url(../images/img6.jpeg);
    background-size: cover;
    background-position: center;
}

/* grey box  */
.box {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 100%;
    background-color: rgba(34, 33, 33,0.5);
    display: flex;
    flex-direction: column;
  }

.content-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.text-container {
    display: flex; 
    flex-direction: column;
}

/* jiwoo lee  */
.name {
    font-weight: 600;
    font-size: 6.5em;
    text-align:center;
    color: white;
    font-family: Lato-Thin;
    margin: 140px 0 20px 0;
}    

/* compsci student  */
.description {
    font-weight: 1000;
    font-size: 1.2em;
    text-align: center;
    color: white;
    font-family: Lato-Thin;
    margin-bottom: 10px;
}

/* cursor  */
.cursor-container {
    font-weight: 100;
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: Lato-Regular;
    margin: 20px 0;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent;}
    100% { background-colour: #ccc; }
}







/* buttons: resume, github linkedin  */
.button-container {
    text-align: center;
    margin-top:  40px;
}


.button {
    outline:white;
    height: 40px;
    width: 200px;
    background: #fbfbfb11;
    border: 1px solid #fff;
    border-radius: 40px;
    margin-right: 20px;
}

.button:hover
{
    cursor: pointer;
    background: #f0f0f078;
}

a {
    color: white;
    font-family: Lato-Regular;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 20px;  
}






/* screen dynamic resizing */
@media screen and (max-width : 700px)
{
    h1 {
        font-size: 3em; 
        text-align:center;
        color: white;
        top:40px;
    }    

    .button {
        height: 20px;
        width: 100px;
    }

    a {
        font-weight:500px; 
        font-size: 20px;
    }
}

